<% if @list.errors.any? %>
  <div class="text-danger">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@list.errors.count, "error") %>.
    </div>
    <ul>
    <% @list.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>